code, .rst-content tt {
    max-width: 100%;
    background: #000;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(249, 242, 244);
    border-radius: 3px;
    /* border: solid 1px #e1e4e5; */
    font-size: 75%;
    padding: 0 5px;
    font-family: Menlo, Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    #color: #ff0000;
    overflow-x: auto;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #404040;
    padding: 0.4045em 1.618em;
    font-weight: bold;
    position: relative;
    background: #fcfcfc;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
    padding-left: 1.618em -4px;
}

.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #b3b3b3;
}

.wy-menu-vertical li ul li a {
    margin-bottom: 0;
    color: #838383;
    font-weight: normal;
}

.hljs-keyword, .css .rule .hljs-keyword, .hljs-winutils, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status {
    color: #fff;
    font-weight: normal;
}

.hljs-regexp {
    color: #fff; 
}

.hljs-tag, .hljs-tag .hljs-title, .hljs-rule .hljs-property, .django .hljs-tag .hljs-keyword {
    color: #fff;
    font-weight: normal;
}

.hljs-built_in {
    color: #fff;
}

div[class^='highlight'] pre {
    white-space: pre;
    margin: 0;
    padding: 12px 12px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 12px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #fdfdfd;
}

.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }

.wy-nav-content {
    max-width: 1000px;
}

/*.wy-menu-vertical .subnav li.current > a {
    display: none;
}*/

.wy-nav-content-wrap {
    background: #FCFCFC;
    border-left: 1px solid black;
}
