/* nixie-one-regular - latin */
/* nixie-one-regular - latin */
@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: local('Nixie One'), local('NixieOne-Regular'),
       url('/fonts/nixie-one-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/nixie-one-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;

}


h1, h2, h3, h4, h5, h6, legend {
    font-family: "Warhelios-Bold", "Roboto Condensed", Arial, sans-serif;
    color: white;
    text-align: center;
}

.btn {


  font-family: Nixie One;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #0996ed 1px;
  background-color: transparent;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.1s;
  margin-bottom: 200px;
  display:inline-block;
  cursor:pointer;

  -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.btn:hover {
  background-color: #0996ed;
  color: black;
  box-shadow: none;
}

.btn:active {
    position:relative;
    top:1px;
}

footer {
    display:none;
}

h1 {
    font-size: 85px;
    margin-top: 10%;
    font-family: Nixie One;
}

hr {
    display: none;

}

h3 {
    font-size: 45px;
    margin-bottom: 100px;
    font-family: Nixie One;
}

.injected {
    display: none;
}

/*ширина контента*/
.wy-nav-content {
    max-width: 100%;
    background: black;
    background-attachment: fixed; 
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url("cloud.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    font-family: "Warhelios-Bold", "Roboto Condensed", Arial, sans-serif;
    font-size: 220%;
    color: #254356;
    text-shadow: 0 0 1.5px #fff;
}

.toctree-l1 span, .toctree-l1>a, .pdf-button {
    font-family: 'Roboto Condensed';
    background-color: #413d3d;
    /*text-transform: uppercase;*/
}

.wy-breadcrumbs li {
    font-family: "Warhelios-Bold","Roboto Condensed", "Helvetica", Arial, sans-serif;
    display: none;
    /*font-family: "Roboto Condensed", "Helvetica", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80%;*/
    color: #254356;

}

a {
    color: #3091D2;
    text-decoration: none;
}

a code {
    color: #BE0712;
}



/*код к кодблоке*/
.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }

div[class^='highlight'] pre {
    white-space: pre;
    margin: 0;
    padding: 12px 12px;
    font-family: Menlo,Consolas,"Inconsolata","Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 12px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #fdfdfd;
}

code, .rst-content tt {
    white-space: nowrap;
    max-width: 90%;
    background: #E3EEF7;
    border: solid 1px #e1e4e5;
    border-radius: 3px;
    font-size: 70%;
    padding: 1px 3px;
    font-family: Menlo,Consolas,"Inconsolata","Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #376784;
    overflow-x: auto;
}

.rst-versions {
      background-color: #e3edf4;
      border-top: solid 10px #e3edf4;
      display: none; 
}

.rst-versions .rst-current-version {
    background-color: #e3edf4;
    color: #254356;
    display: none
}

.rst-versions.rst-badge.shift-up .rst-current-version {
    display: none;
}

.rst-versions.shift-up .rst-other-versions {
    display: none;
}

.wy-nav-content-wrap {
    background: #FCFCFC;
    border-left: 1px solid white;
}

/* ------- TOC -------*/

/*заголовок страницы*/
.wy-side-nav-search {
    background-color: #e3eef7;
    text-align: center
}

/*поиск*/
.wy-side-nav-search input[type=text] {
    display: none;
    width: 100%;
    border-radius: 0;
    padding: 10px 12px;
    border-color: inherit;
}

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight'] {
    border: 1px solid #e1e4e5;
    border-radius: 6px;
    padding: 0px;
    overflow-x: auto;
    background: #fff;
    margin: 1px 0 24px 0;
}

.wy-nav-side {
    height: calc(100% - 45px);
    overflow-y: auto;
    min-height: 100%;
    background-color: #e3edf4;

}

.wy-menu-vertical li.current a {
    display: none;
}

.wy-side-nav-search img {
    max-width: 80%;
    display: block;
    margin: auto;
    height: 70px;
    width: 0;
    background-color: inherit;
    padding: 0;
    border-radius: 0;
}

.wy-company-logo {
    width: auto;
    margin: 0px 20px 20px 20px;
    display: block;
    background: url(../img/wg_logo_red.png) no-repeat center;
    background-size: 25%;
    /*width: 132px;
    height: 70px;*/
}

.toctree-l1 span, .toctree-l1>a, .pdf-button {
    font-family: 'Roboto Condensed';
    background-color: #e3eef7;
    text-align: center
    /*text-transform: uppercase;*/
}

/*Подзаголовки H2 в содержании*/
.wy-menu-vertical li ul li a {
    color: #7fa3c3;
    font-size: 90%;
    font-family: 'Roboto Condensed';

    /*border-left: 1px solid lightblue; /* Линия слева от текста */
    /*padding-left: 7px;   Расстояние между линией и текстом */
    /*margin-left: 25px;  Расстояние от левого края до линии */
}

/*выделение открытого раздела*/
.wy-menu-vertical li.current>a {
    background: #fff;
    border-top: none;
    border-bottom: none;
}

.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current>a:hover {
    background: none;
}

.wy-menu-vertical a {
    display: inline-block;
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #7497b2;

}

/*H3 в TOC*/
.wy-menu-vertical a.toctree-l3 {
    margin-left: 10px;
}


.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #9da6ad;
}

/*hover над открытым разделом*/
.wy-menu-vertical li.current a:hover {
    background: #9fc9f4;
}

.wy-menu-vertical li.current a {
    color: #7497b2;
}

/*подсветка активного подраздела*/
.wy-menu-vertical li.current {
    background: none;
}

a.toctree-l4 { /* toc indent fix */
    display: none
}

.wy-nav-content-wrap {
    background: #fff;
}

/* ------- ADMONITIONS -------*/

.admonition {
    border-radius: .28571429rem;
    background: #f8f8f9;
}

.rst-content .admonition-title {
    display: none;
}

.admonition>p {
    font-size: 14px;
}

.rst-content .note {
    background-color: #f8ffff;
    color: #276f86;
    box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
}

.rst-content .tip {
    background-color: #fcfff5;
    color: #2c662d;
    box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent;
}

.rst-content .warning {
    background-color: #fffaf3;
    color: #573a08;
    box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
}

.rst-content .important {
    background-color: #fffaf3;
    color: #573a08;
    box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
}

.rst-content .error {
    background-color: #fff6f6;
    color: #9f3a38;
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent
}

/* ------- IMAGES ------- */

.rst-content img {
    margin-bottom: 15px;
    max-width: 750px;
}

/* ------- TABLES ------- */

td {
    line-height: 1.5
}

.rst-content dl dd {
    line-height: 1.5
}
